doctype html
html
  head
    title
  body
    .container
      table(border="1")
          tr
            th Symbol
            th Name
            th Price
            th Quantity
            th Value
              each stock in portfolio
                tr
                  td= stock.Symbol
                  td= stock.Name
                  td= stock.LastPrice
                  td= stock.Quantity
                  td= "$" + stock.LastPrice * stock.Quantity
